<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7sc_iGQiM0gMe_1CGTDLo158OJsbetzg</string>
	<key>GCM_SENDER_ID</key>
	<string>753000000659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhealth</string>
	<key>PROJECT_ID</key>
	<string>mhealth-f6f90</string>
	<key>STORAGE_BUCKET</key>
	<string>mhealth-f6f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753000000659:ios:d77e3fcbd284c2a693f166</string>
</dict>
</plist>